/* You can add global styles to this file, and also import other style files */

/*html, body{
    height:100%;
}*/
/*body{
    background-color: #f4f6f6;
}*/

.uk-max-height-large{
    max-height: 580px;
    overflow-y: scroll;
}

.app-container{
    background-color: #f4f6f6;
}
.main-nav{
    background-color:#336E7B;
    height:50px;
}

.main-nav .uk-navbar-item{
    color:white;    
}

.uk-margin{
    margin-bottom: 10px;
}

.uk-iconnav{
    background-color: gray;
}
.uk-grid-divider>:not(.uk-first-column)::before{
    border-left: 5px solid #c5c5c5;
}

.uk-button-primary{
    border:none;
}